
:root {
--main-title-color:#FFFFFF;
--subtitle-color:#2E2F42;
--main-text-color: #434455;
--header-hero-color:#FFFFFF;
--button-hero-color:#4D5AE5;
--button-hero-hover-color: #404BBF;
--button-filters-hover-color:#F4F4FD;
--button-filters-color:#404BBF;
}

body {
font-family: 'roboto', sans-serif;
font-style: normal;
color:#2E2F42;
}
/*----------header----------*/

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33em;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo {
    color:#4D5AE5;
}

.header-logo-studio {
    color:#2E2F42;
}

.header-item {
font-weight: 500;
font-size: 16px;
line-height: 1.50em;
letter-spacing: 0.02em;
color:#2E2F42;
}

.header-item:is(:hover, :focus)
 {
    color:#404BBF;
}

.contacts {
font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 1.50em;
letter-spacing: 0.02em;
color: #434455;
}

.contacts:is(:hover, :focus) {
    color:#404BBF
}

/*----------footer----------*/

.footer {
    background-color:#2E2F42;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33em;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .footer-logo {
        color:#4D5AE5;
    }
    
    .footer-logo-studio {
        color:#F4F4FD;
    }

    .footer-text {
        font-size: 16px;
        line-height: 1.50em;
        letter-spacing: 0.02em;
        color:#E7E9FC;   
    }
/*----------hero----------*/
.hero {
background-color:#2E2F42;;
}

.header-hero {
font-weight: 700;
font-size: 56px;
line-height: 1.07em;
text-align: center;
letter-spacing: 0.02em;
color:#FFFFFF;
}

.hero-button:is(:hover, :focus) {
cursor: pointer;
background-color:#404BBF;
font-weight: 500;
font-size: 16px; 
line-height: 1.50em;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color:#FFFFFF;}

.hero-button {
cursor: pointer;
background-color:#4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.50em;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color:#FFFFFF;
}

/*----------feature----------*/
.feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20em;
    letter-spacing: 0.02em;
    color:var(--subtitle-color)
}

.feature-text {
    font-size: 16px;
    line-height: 1.50em;
    letter-spacing: 0.02em;
    color:var(--main-text-color)
}


/*----------list of works----------*/

.works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11em;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;    
}
/*----------Our Team----------*/
.team {
background-color:#F4F4FD;
}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11em;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:#2E2F42;
}

.team-card {
font-weight: 500;
font-size: 20px;
line-height: 1.20em;
text-align: center;
letter-spacing: 0.02em;
color:var(--subtitle-color) 
}

.team-text {
font-size: 16px;
line-height: 1.50em;
letter-spacing: 0.02em;
color:var(--main-text-color)
}
/*----------portfolio----------*/

/*----------filters----------*/
.filter-btn {
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.50em;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}

.filter-btn:is(:hover, :focus) {
cursor: pointer;
background-color: #404BBF;
font-weight: 500;
font-size: 16px;
line-height: 1.50em;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--button-filters-hover-color)
}
/*----------project----------*/
.project-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20em;
    letter-spacing: 0.02em;
    color:var(--subtitle-color)
}

.project-text {
    font-size: 16px;
    line-height: 1.50em;
    letter-spacing: 0.02em;
    color:var(--main-text-color)
}
/*----------portfolio----------*/
/*----------portfolio----------*/
/*----------portfolio----------*/